.final-wrapper {
  position: relative;
  height: 746px;
  background-image: linear-gradient(to bottom, #f9f9f9, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-wrapper::before, .final-wrapper::after {
  content:'';
  position: absolute;
  top: 0;
  width: 100%;
  height: 746px;
  background-image: linear-gradient(to bottom, #f9f9f9, #ffffff);
}

.final-wrapper::before {
  left: -100%;
}

.final-wrapper::after {
  right: -100%;
}

.final-title {
  margin: 180px 0 15px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #1d262c;
}

.final-descr {
  max-width: 480px;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #71828a;
}

.final-mini-wrap {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}