@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.white {color: white;}
.blue {color: #004dff;}
.gray {color: #454545;}
.black {color: black;}

.section {
  max-width: 1110px;
  padding: 40px 165px;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
