.section-carousel {
  display: block;
  align-items: center;
  margin: 60px 0;
}

.wrapper-carousel {
  width: 1110px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

.carousel-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  color: #000000;
}

.carousel-wrapper {
  height: 640px;
}

.slick-list {
  height: inherit;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus
{
  width: 16px;
  height: 16px;
  background-image: url('../../assets/images/left-arrow.svg');
}

.slick-next,
.slick-next:hover,
.slick-next:focus
{
  width: 16px;
  height: 16px;
  background-image: url('../../assets/images/right-arrow.svg');
}

.slick-prev:before, 
.slick-next:before 
{
  content: "";
}