@import url('./assets/fonts/style.css');

.app {
  width: 1220px;
  min-height: 1200px;
  font-family: 'Circular Std Book';
  background-color: #d8d8d8;
  background-image: url('./assets/images/bkg-main.svg');
  background-size: 1440px;
  background-repeat: no-repeat;
  padding: 25px 110px;
  margin: 0 auto;
}
