.sidebar {
  width: 176px;
  padding-left: 4px; 
  margin-top: 130px;
  font-family: 'Circular Std Black';
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  line-height: 36px;
}

.sidebar-button {
  font-family: 'Circular Std Medium';
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 136px;
  height: 36px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.sidebar-button img {
  margin: 0 10px 0 20px;
}

.sidebar-button--active {
 opacity: 0.76;
}